

<div class="h-screen">
<p>{{room.title}}: {{room.description}}</p>
<button type="button" id="join-room">Join Room</button>
<ul>
{{#each room.Messages as |message| }}
<li>{{message.User.first_name}}: {{message.text}}
    <p>{{message.createdAt}}</p>
</li>
{{/each}}
</ul>

<input type="hidden" name="is-loggedIn" value="{{loggedIn}}" />
<input type="hidden" name="userId" value="{{userId}}" />
<input type="hidden" name="room-id" value="{{room.id}}" />

<form id="message-creation-form">    
{{#if loggedIn}}
{{#if joined}}
    <div class="mb-6">
        <label class="form-label" for="message-body">New Message</label>
        <textarea name="message-body" class="form-input"></textarea>
    </div>
    <div class="text-center lg:text-left">
    <button type="submit"
        class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
        Post
    </button>
    </div>
{{/if}}
{{/if}}
</form>

<a class="text-xl hover:text-[#C89B3C]" href="/">Home</a>

</div>

<script src="/js/roomPage.js"></script>