

<section class="h-full">
  <div class="h-screen text-center md:text-left mt-[50px] md:ml-20 md:m-7">
    {{!-- conditional edit button that shows if user logged in is owner of this profile page --}}
    <div class="columns-2">
      {{#if owner}}
      <p class="p-2 mb-3 w-fit text-xl bg-[#494B50] border-2 border-[#494B50] invisible md:visible">ABOUT</p>
      <a href="/profile/edit/{{user.id}}" class="mt-[50px] md:mt-0 inline-block px-6 py-2.5 bg-[#6D9886] text-white font-medium text-xs rounded shadow-md">Edit</a>
      {{/if}}
    </div>
    <div class="md:flex mt-4 md:items-end">
      {{!-- added line for profile img --}}
      <img class="profile-img mx-auto md:ml-0 md:mr-2 border-4 rounded-full border-[#6D9886]" src="{{img_url}}"> 
      <p class="text-[52px] bold md:mb-4"><strong>{{user.first_name}} {{user.last_name}}</strong></p>
    </div>

    <div class="md:flex">
      <p class="mt-5 m-[25px]">
        <span class="{{hideEmpty user.gender}}">{{user.gender}} | </span>
        <span class="{{hideEmpty user.age}}">{{user.age}}yrs | </span>
        <span>{{user.email}}</span>    
      </p>
    </div>

    <br>
    <h3 class="{{hideEmpty user.description}} text-[40px]"><strong>About Me</strong></h3>
    <p class="text-xl">{{user.description}}</p>

    <br>
    <h3 class="{{hideEmpty user.Interests}} text-[40px]"><strong>INTERESTS</strong></h3>

    <div class="md:indent-5">
      {{#if owner}}
      {{#each user.Interests as |interest|}}
      <p class="text-4xl mb-2"><strong>{{interest.Category.name}}</strong>:</p> 
      <p class="text-xl mb-2">{{interest.body}}</p>
      {{/each}}

      {{else}}

      {{#each user.Interests as |interest|}}
      <p class="text-4xl"><strong>{{interest.Category.name}}</strong>:</p> 
      <p class="text-xl">{{interest.body}}</p>
      {{/each}}
      {{/if}}
    </div>


    <br>
    <h3 class="{{hideEmpty rooms}} text-[40px]"><strong>Rooms</strong></h3>
    <div class="grid md:grid-cols-2 drop-shadow-[3px_3px_1px#6D9886]">
      {{#each rooms as |room|}}
      <div class="border-[#494B50] bg-[#494B50] min-h-[150px] md:min-h-[200px]">
        <p class="text-4xl px-2 pt-2"><strong>{{room.title}}</strong>:</p> 
        <p class="text-xl px-2">{{room.description}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</section>