{{!-- conditional edit button that shows if user logged in is owner of this profile page --}}
{{#if owner}}
<a href="/profile/edit/{{user.id}}" class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs rounded shadow-md">Edit</a>
{{/if}}

<p><strong>{{user.first_name}} {{user.last_name}}</strong></p>

<p>
  <span class="{{hideEmpty user.gender}}">{{user.gender}} | </span>
  <span class="{{hideEmpty user.age}}">{{user.age}} | </span>
  <span>{{user.email}}</span>
</p>

<br>
<h3 class="{{hideEmpty user.description}}"><strong>ABOUT</strong></h3>
<p>{{user.description}}</p>

<br>
<h3 class="{{hideEmpty user.Interests}}"><strong>INTERESTS</strong></h3>
{{#if owner}}

{{#each user.Interests as |interest|}}
<div class="flex">
  <p><strong>{{interest.Category.name}}</strong>: {{interest.body}}</p>
</div>
{{/each}}

{{else}}

{{#each user.Interests as |interest|}}
<p><strong>{{interest.Category.name}}</strong>: {{interest.body}}</p>
{{/each}}

{{/if}}

<br>
<h3 class="{{hideEmpty rooms}}"><strong>Rooms</strong></h3>
{{#each rooms as |room|}}
<P><strong>{{room.title}}</strong>: {{room.description}}</P>
{{/each}}
